#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.imageDimension {
  width: 92px;
  height: 92px;
  padding: 8px;
}

.underlined {
  border-bottom: 2px solid #dedede;
}

.disableBottomBorder .item-inner {
  border-bottom: 0 !important;
}

.buttons{
  margin: 0;
  padding: 10px 0 0 0;
  margin: 0 50px 0 50px;
}

.two{
  padding: 0;
  margin:0;
  --padding: 0;
}

.orangeButtons {
  color: #ffb612;
  padding: 0;
  font-size: 33px;
}

.title{
  font-size: 85%;
}

.requiredIndicator {
  color: red;
}

.image-label {
  font-weight: bold;
  font-size: 85%;
}

ion-icon.expand{
  font-size: 25px;
}

.block {
  //position: relative
  height:110px;
  width:110px;

}
  .deleteIcon {
    position: absolute !important;
    top: 10%;
    left:73%;
    color: #ffffff !important;
    font-size: 20px !important;
  }

  .image{
    size:100%;
    height: 100%;
    width: 100%;
  }

  .buttonBox {
    padding: 50px 5px 50px 5px;
}