<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Home Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-list lines="none">
      <ion-item-group>
        <ion-item class="ion-no-padding" style="--inner-padding-end: 0;">
          <app-camera 
            [maxNumberOfImages]="maxNumberOfImages"
            [itemLabel]="itemLabel"
            [required]="required"
            [saveCopyToGallery]="saveCopyToGallery"
            [srcList]="srcList"
            [picturesDirectory]="picturesDirectory"
            style="width: 100%"
          ></app-camera>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </div>
</ion-content>
